<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body style="font-family:KaiTi,sans-serif;font-size:14pt;">
		<p>各位同事，</p>
		<br/>
		
		<p style="text-indent:2em" th:text="${para1}"></p>
		<br/>
		
		<p style="text-indent:2em" th:text="${para2}"></p>
		<br/>
		
		<p style="text-indent:2em">
			<span th:text="${para31}"></span>
			<strong th:text="${para32}"></strong>
			后续将进一步调动大家参与的积极性，多加练习。
		</p>
		<br/>
		
		<p style="text-indent:2em">
			<span th:text="${para41}"></span>
			<strong th:text="${para42}"></strong>
		</p>
		<br/>

		<div>
			<img src="cid:imgLine" style="float:left;"></img>
		</div>
		<br/>
	</body>
</html>
